<h1>Flights</h1>

<%= form_tag root_path, method: :get do %>
  <label for="departure_airport_id">Departure Airport:</label>    
  <%= select_tag 'departure_airport_id', 
  options_from_collection_for_select(@airports, :id, :code, params[:departure_airport_id]), include_blank: true %>

  <label for="arrival_airport_id">Arrival Airport:</label>
  <%= select_tag 'arrival_airport_id',
   options_from_collection_for_select(@airports, :id, :code, params[:arrival_airport_id]), include_blank: true %>

   <label for="passenger_count">Number of Passengers:</label>
   <%= select_tag 'passenger_count', options_for_select([1, 2, 3, 4], params[:passenger_count].to_i), include_blank: true %>

   <label for='flight_date'>Flight Date:</label>
   <%= select_date(Date.current, prefix: 'flight_date') %>

  <%= submit_tag 'Search' %>
<% end %> 

<br>

<!--<%# if @flights.any? %>
   <table>
   <thead>
       <tr>
       <th>Departure Airport</th>
       <th>Arrival Airport</th>
       <th>Start Datetime</th>
       <th>Flight Duration</th>
       </tr>
   </thead>
   <tbody>
       <%# @flights.each do |flight| %>
       <tr>  
           <td><%#= flight.departure_airport.code%></td>  
           <td><%#= flight.arrival_airport.code%></td> 
           <td><%#= flight.start_datetime %></td>
           <td><%#= flight.flight_duration %></td> 
       </tr>
       <%# end %>
   </tbody>
   </table>
<%# else %>
<p>No flights found matching the search criteria.</p>
<%# end %>-->

<% if @flights.any? %>
  <%= form_tag new_booking_path, method: :get do %>
    <% @flights.each do |flight| %>
      <label>
        <%= radio_button_tag 'flight_id', flight.id %>
        <%= "#{flight.departure_airport.code} to #{flight.arrival_airport.code},
            #{flight.start_datetime}, Duration: #{flight.flight_duration}, Passenger-count: #{flight.passenger_count}" %>
      </label>  
      <br>  
    <% end %> 
    <%= hidden_field_tag 'passenger_count', params[:passenger_count] %>  
    <%= submit_tag "Select" %>
  <% end %>
<% else %>
  <p>No flights found matching the search criteria.</p>
<% end %>

